html
{
    height: 100%;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.container
{
    width:80%;
    margin:auto;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(2px);
    text-align: center;
    padding:20px;
    margin-top:3%;
    border-radius: 20px;
    transition:backdrop-filter 2s;
}
.container:hover
{
    backdrop-filter: blur(30px);
}
.container h1
{
    font-size:42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#a0b0ff;
}
.container p
{
    font-size:22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.square1
{
    position: absolute;
    height: 80px;
    width:280px;
    margin-left:3%;
    margin-top:1%;
    background-image: linear-gradient(270deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
    animation-name: load;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes load {
    0%   {left:0px; top:0px;}
    25%  {left:1000px; top:0px;}
    50%  {left:1000px; top:180px;}
    75%  {left:0px; top:180px;}
    100% {left:0px; top:0px;}
  }